In [143]:
import pandas as pd
from datetime import datetime
import pytz
from tzlocal import get_localzone

In [170]:
log_df = pd.DataFrame(columns = ["timestamp", "host1", "host2"]).astype({"timestamp",int})

TypeError: DataFrame.__init__() got an unexpected keyword argument 'astype'

In [144]:
log_df = pd.read_csv("Logs/log_test.txt", sep = " ", names = ["timestamp", "host1", "host2"])
log_df

    timestamp  host1  host2
0  1707145800  hostA  hostB
1  1707145830  hostC  hostD
2  1707145845  hostB  hostE
3  1707145805  hostF  hostG
4  1707145900  hostD  hostA
5  1707145810  hostE  hostF
6  1707145990  hostG  hostC
7  1707145895  hostB  hostC
8  1707146005  hostD  hostE

In [145]:
#input data
init_datetime="2024-02-05 15:10:00"
datetime.strptime(init_datetime, "%Y-%m-%d %H:%M:%S")
end_datetime="2024-02-05 15:10:55"
Hostname="hostB"

In [146]:
init_unix = int(pd.to_datetime(init_datetime).tz_localize("UTC").timestamp())
end_unix = int(pd.to_datetime(end_datetime).timestamp())
hostname = Hostname.strip()

In [147]:
filtered_df = log_df[(log_df["timestamp"]>=init_unix) & (log_df["timestamp"]<=end_unix)]

In [148]:
filtered_df

    timestamp  host1  host2
0  1707145800  hostA  hostB
1  1707145830  hostC  hostD
2  1707145845  hostB  hostE
3  1707145805  hostF  hostG
5  1707145810  hostE  hostF

In [149]:
lhost = filtered_df["host2"][filtered_df["host1"]==hostname].tolist()
lhost.extend(filtered_df["host1"][filtered_df["host2"]==hostname])
print(lhost)

['hostE', 'hostA']

In [150]:
print(", ".join(lhost))

hostE, hostA

In [151]:
timestamp = 1707146005	
dt = datetime.utcfromtimestamp(timestamp)  # Convert to UTC datetime
print(dt)

2024-02-05 15:13:25

C:\Users\roman\AppData\Local\Temp\ipykernel_224\3553259853.py:2: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  dt = datetime.utcfromtimestamp(timestamp)  # Convert to UTC datetime

In [152]:
maxdt = log_df["timestamp"].max()
print(maxdt)
print(datetime.fromtimestamp(maxdt), pytz.utc)

1707146005
2024-02-05 16:13:25 UTC

In [153]:
timezone = pytz.timezone("Europe/Madrid")
print(datetime.fromtimestamp(maxdt, timezone))

2024-02-05 16:13:25+01:00

In [154]:
local_tz = get_localzone()
print(datetime.fromtimestamp(maxdt, local_tz))

2024-02-05 16:13:25+01:00

In [155]:
print(int(pd.to_datetime("2024-02-05 17:13:25").tz_localize(local_tz).timestamp()))
print(datetime.fromtimestamp(1707149605, local_tz))

1707149605
2024-02-05 17:13:25+01:00

# Part 2

In [160]:
print(filtered_df["host1"].value_counts())
filtered_df["host1"].value_counts().idxmax()

host1
hostA    1
hostC    1
hostB    1
hostF    1
hostE    1
Name: count, dtype: int64

'hostA'

In [166]:
filtered_df.groupby("host1").count()

       timestamp  host2
host1
hostA          1      1
hostB          1      1
hostC          1      1
hostE          1      1
hostF          1      1